<a href="https://colab.research.google.com/github/in3der/DataAnalysis/blob/main/%5B%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EB%B0%8F%ED%99%9C%EC%9A%A9%5DNumpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List and Numpy Array

In [1]:
import numpy as np

lst = [95., 90., 90., 70, 92, 88, 80]
print(lst)
print(len(lst))
print(type(lst))
print(type(lst[0]))
print(type(type(lst[4])))

arr = np.array(lst)
print(arr)
print(arr.shape)
print(type(arr))
print(arr.dtype)

[95.0, 90.0, 90.0, 70, 92, 88, 80]
7
<class 'list'>
<class 'float'>
<class 'type'>
[95. 90. 90. 70. 92. 88. 80.]
(7,)
<class 'numpy.ndarray'>
float64

# Numpy Array vs. Matrix

In [2]:
lst = [[95, 90, 90], [70, 92, 88]]
print(np.shape(lst))

arr = np.array(lst, dtype = np.int32)
print(arr)
print(arr.shape)
print(type(arr))
print(arr.dtype)

mat = np.matrix(lst, dtype=np.int32)
print(mat)
print(type(mat))

(2, 3)
[[95 90 90]
 [70 92 88]]
(2, 3)
<class 'numpy.ndarray'>
int32
[[95 90 90]
 [70 92 88]]
<class 'numpy.matrix'>

# Reshape

In [5]:
# reshape 방법 2가지가 있다
# 방법 1
arr1 = np.arange(16)
arr2 = np.reshape(arr1, (4, 4))

In [6]:
# 방법 2
arr1 = np.arange(16)
arr2 = arr1.reshape(4, 4)
print(arr1)
print(arr2)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

In [8]:
arr1 = np.arange(8)
print(arr1)

arr2 = np.reshape(arr1, (2, -1))
print(arr2)

arr3 = np.reshape(arr1, (-1, 4))
print(arr3)

arr4 = np.reshape(arr3, (-1)) # flatter. 1차원으로 만드는 경우
print(arr4)

# 에러생김
# arr5 = np.reshape(arr1, (-1, 3))
# print(arr5)

[0 1 2 3 4 5 6 7]
[[0 1 2 3]
 [4 5 6 7]]
[[0 1 2 3]
 [4 5 6 7]]
[0 1 2 3 4 5 6 7]

# Indexing

In [11]:
arr1 = np.arange(12)
arr2 = arr1.reshape(2, -1)
print(arr1)
print(arr2)

print(arr1[0])
print(arr2[0])

print(arr2[0, 0])

[ 0  1  2  3  4  5  6  7  8  9 10 11]
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]
0
[0 1 2 3 4 5]
0

In [12]:
arr1 = np.arange(12)
arr2 = arr1.reshape(2, -1)
arr3 = arr1[2:10]
arr4 = arr2.copy()

arr2[0, 0] = 4

print(arr1)
print(arr2)
print(arr3)
print(arr4)

[ 4  1  2  3  4  5  6  7  8  9 10 11]
[[ 4  1  2  3  4  5]
 [ 6  7  8  9 10 11]]
[2 3 4 5 6 7 8 9]
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]

In [13]:
arr1 = np.arange(16)
arr2 = arr1.reshape(4, -1)
print(arr2)

print(arr2[1, 3])
print(arr2[0, 1])
print(arr2[2, 2])

print(arr2[[1, 0, 2], [3, 1, 2]])

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
7
1
10
[ 7  1 10]

# Slicing

In [14]:
arr = np.arange(16).reshape(4, 4)

print(arr)
print(arr[1:3, 1:3])
print(arr[:, :])
print(arr[1:, :-1])

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[ 5  6]
 [ 9 10]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[ 4  5  6]
 [ 8  9 10]
 [12 13 14]]

# Exercise

In [15]:
import numpy as np
A = np.array([[400, 500, 600], [500, 300, 500], [700, 400, 700]])
B = np.array([[500, 700, 700], [300, 400, 600], [900, 200, 900]])
print(A)
print(B)

[[400 500 600]
 [500 300 500]
 [700 400 700]]
[[500 700 700]
 [300 400 600]
 [900 200 900]]

## Array Indexing

In [18]:
# A 행렬에서 1행 2열을 출력하라.
print(A[0, 1])
# A 행렬에서 1-2행을 출력하라.
print(A[0:2, :])
# A 행렬에서 마지막 열을 빼고 출력하라.
print(A[:, :-1])

500
[[400 500 600]
 [500 300 500]]
[[400 500]
 [500 300]
 [700 400]]

In [19]:
# A의 2열과 B의 1열을 더하라
print(A[:, 1] + B[:, 0])

# A, B 행렬에서 두 번째 행을 빼고 C, D 행렬을 만들어라
C = A[(0, 2), :]
D = B[(0, 2), :]
print(C)
print(D)

[1000  600 1300]
[[400 500 600]
 [700 400 700]]
[[500 700 700]
 [900 200 900]]

## Max, Min, Mean

In [21]:
# max : 배열에서 가장 큰 값을 고름
print(A.max(), B.max())
# np.maximum : 둘 중에서 가장 큰 값을 고름
print(np.maximum(A.max(), B.max()))

print(A.min(), B.min())
print(np.minimum(A.min(), B.min()))

print(A.min(), B.mean())
print((A.mean() + B.mean()) / 2)

700 900
900
300 200
200
300 577.7777777777778
544.4444444444445

## Max, Min, Means along Axis

In [23]:
print(A.max(axis=0)) # 각 열에서 가장 큰 값들을 골라옴
print(A.max(axis = 1)) # 각 행에서 가장 큰 값들을 골라옴

[700 500 700]
[600 500 700]

## Argmax, Argmin

In [24]:
print(B - A)
print(np.abs(A-B)) # abs : 절댓값취함

[[ 100  200  100]
 [-200  100  100]
 [ 200 -200  200]]
[[100 200 100]
 [200 100 100]
 [200 200 200]]

In [25]:
# argmax, argmin : 최소값, 최대값, 혹은 조건에 해당하는 색인(index) 값을 찾기
print(np.argmax(np.abs(A-B)))
print(np.argmin(np.abs(A-B)))

1
0

# Expend Dimension

In [26]:
import numpy as np
A = np.random.rand(2, 3, 4)
print(A)

print(A.shape)
print(A[:, np.newaxis, :, :].shape)   # newaxis : 새로운 차원을 끼움
print(A[:, np.newaxis, :, np.newaxis, :].shape)
print(A[..., np.newaxis].shape) ## ...으로 기존을 표현하고 뒤에  newaxis를 끼울 수 있다.

[[[0.18135223 0.16296846 0.77909106 0.46345661]
  [0.06314458 0.50165684 0.15223896 0.77285951]
  [0.76764984 0.67577998 0.71952529 0.21150665]]

 [[0.71384048 0.04231117 0.33560477 0.00691725]
  [0.35651812 0.19985388 0.80481465 0.08320727]
  [0.51662801 0.86583596 0.04491693 0.86049326]]]
(2, 3, 4)
(2, 1, 3, 4)
(2, 1, 3, 1, 4)
(2, 3, 4, 1)

# Broadcasting

In [31]:
a = np.array([0.0, 10.0, 20.0, 30.0])
b = np.array([1.0, 2.0, 3.0])
print(a[:, np.newaxis] + b)
print(a + b[:, np.newaxis])

[[ 1.  2.  3.]
 [11. 12. 13.]
 [21. 22. 23.]
 [31. 32. 33.]]
[[ 1. 11. 21. 31.]
 [ 2. 12. 22. 32.]
 [ 3. 13. 23. 33.]]

# repeat

In [34]:
  X = np.array([1, 2, 3])
  Y = np.array([[1, 2],
                [3, 4]])

  print(np.repeat(X, 3))
  print(np.repeat(Y, 3))

  print(np.repeat(Y, 3, axis=0))
  print(np.repeat(Y, 3, axis=1))

[1 1 1 2 2 2 3 3 3]
[1 1 1 2 2 2 3 3 3 4 4 4]
[[1 2]
 [1 2]
 [1 2]
 [3 4]
 [3 4]
 [3 4]]
[[1 1 1 2 2 2]
 [3 3 3 4 4 4]]

# repeat vs. tile

In [35]:
X = np.array([1, 2, 3])
Y = np.array([[1, 2],
              [3, 4]])

print(np.repeat(X, 3))
print(np.tile(X, 3))

print(np.tile(Y, [1, 1]))
print(np.tile(Y, [2, 1]))
print(np.tile(Y, [1, 3]))
print(np.tile(Y, [2, 4]))

[1 1 1 2 2 2 3 3 3]
[1 2 3 1 2 3 1 2 3]
[[1 2]
 [3 4]]
[[1 2]
 [3 4]
 [1 2]
 [3 4]]
[[1 2 1 2 1 2]
 [3 4 3 4 3 4]]
[[1 2 1 2 1 2 1 2]
 [3 4 3 4 3 4 3 4]
 [1 2 1 2 1 2 1 2]
 [3 4 3 4 3 4 3 4]]

# Stack

In [36]:
a1 = np.random.rand(5, 100)
a2 = np.random.rand(5, 100)
a3 = np.random.rand(5, 100)

a_stack = np.stack([a1, a2, a3])
a_stack_0 = np.stack([a1, a2, a3], axis=0)

a_stack_1 = np.stack([a1, a2, a3], axis=1)

a_stack_2 = np.stack([a1, a2, a3], axis=2)
a_stack_m = np.stack([a1, a2, a3], axis=-1)

print(a_stack.shape)
print(a_stack_0.shape)
print(a_stack_1.shape)
print(a_stack_2.shape)
print(a_stack_m.shape)

(3, 5, 100)
(3, 5, 100)
(5, 3, 100)
(5, 100, 3)
(5, 100, 3)

# concatenate

In [38]:
v1 = np.random.rand(10, 4, 3)
v2 = np.random.rand(20, 4, 3)
v3 = np.random.rand(30, 4, 3)

h1 = np.random.rand(5, 10, 3)
h2 = np.random.rand(5, 20, 3)
h3 = np.random.rand(5, 30, 3)

vstack0 = np.vstack([v1, v2, v3])
concat0 = np.concatenate([v1, v2, v3], axis=0)

hstack1 = np.hstack([h1, h2, h3])
concat1 = np.concatenate([h1, h2, h3], axis=1)

print(vstack0.shape)
print(concat0.shape)
print(hstack1.shape)
print(concat1.shape)

(60, 4, 3)
(60, 4, 3)
(5, 60, 3)
(5, 60, 3)